<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConcreteSettings" type="ConcreteContentTypes.Core.Configuration.ConcreteSettings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="ConcreteCSharpWriterSettings" type="ConcreteContentTypes.Core.Configuration.CSharpWriterSettings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<ConcreteSettings
			Enabled="true"
			GenerateOnContentTypeSave="true"
			GenerateOnMediaTypeSave="true"
			CSharpOutputFolder="Models"
			Namespace="Umbraco.Examine.Linq.Sandbox.Models"  />

	<ConcreteCSharpWriterSettings>
		<CSharpWriters>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.BasicUmbracoPropertyCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.ColorPickerAlias" clrType="string"/>
					<Type alias="Umbraco.CheckBoxList"  clrType="string"/>
					<Type alias="Umbraco.Date"  clrType="DateTime"/>
					<Type alias="Umbraco.DateTime"  clrType="DateTime"/>
					<Type alias="Umbraco.DropDown"  clrType="string"/>
					<Type alias="Umbraco.DropDownMultiple"  clrType="string"/>
					<Type alias="Umbraco.NoEdit" clrType="string" />
					<Type alias="Umbraco.Integer" clrType="int" />
					<Type alias="Umbraco.TinyMCEv3" clrType="IHtmlString" />
					<Type alias="Umbraco.TextboxMultiple" clrType="string" />
					<Type alias="Umbraco.Textbox" clrType="string" />
					<Type alias="Umbraco.TrueFalse" clrType="bool" />
					<Type alias="Umbraco.Guid" clrType="Guid" />
					<Type alias="Umbraco.EmailAddress" clrType="string" />
					<Type alias="Umbraco.MarkdownEditor" clrType="IHtmlString" />
					<Type alias="Umbraco.UploadField" clrType="string" />
					<Type alias="RJP.MultiUrlPicker" />
					<Type alias="AngularGoogleMaps" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.ContentPickerPropertyCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.ContentPickerAlias" clrType="IPublishedContent" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.MNTPPropertyCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.MultiNodeTreePicker" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.GridPropertyCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.Grid" clrType="GridContent" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.NestedContentCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Our.Umbraco.NestedContent" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.MediaPickerPropertyCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.MediaPicker" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.ModelGeneration.CSharpWriters.PropertyCSharpWriters.MultipleMediaPickerPropertyCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.MultipleMediaPicker" />
				</SupportedTypes>
			</CSWriter>
		</CSharpWriters>
	</ConcreteCSharpWriterSettings>
</configuration>